<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IELTSExamPrep"
        tools:targetApi="31">
        <activity
            android:name=".Reading.ReadingSummaryCompletionEachPara"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingSentanceCompletionEachPara"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingSentanceCompletion"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingSummaryCompletion"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingTrueFalseNotGivenEachPara"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingTrueFalseNotGiven"
            android:exported="false" />
        <activity android:name=".Speaking.SpeakingMainPage" />
        <activity android:name=".Speaking.Part1.SpeakingPart1Topics" />
        <activity android:name=".Speaking.Part1.SpeakingPart1EachContent" />
        <activity
            android:name=".Reading.ReadingPassageMatchHeadingEachPara"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingMatchHeadingsTopics"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingMCQEachPara"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingMCQTopics"
            android:exported="false" />
        <activity
            android:name=".Reading.ReadingMainPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>